main {
    font-family: sans-serif;
    font-size: 15px;
}

li {
    margin: 10px;
    font-size: 1rem;
    font-family:Arial, Helvetica, sans-serif;
}

@media only screen and (min-width: 768px) {
    body{ color: blueviolet;
    }
    li{
        font-size: 1.5rem;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
  
   }

@media only screen and (min-width:  1024px) {    body{
    background: yellow;
   }
   li::first-letter {
    font-size: 2rem;
    font-weight: bold;
    color: brown;
}}
@media only screen and (min-width: 1200px) {body{
    background: antiquewhite;
   }}
